.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.main {
  flex: 1;
  padding: 20px;
  background-image: url(../images//back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .main {
    padding: 10px;
  }

  .header, .footer {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header, .footer {
    font-size: 12px;
    padding: 8px;
  }
}
