.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  height: 15vh;
  min-height: 80px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main {
  flex-grow: 1;
  background-image: url("../images/back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  overflow: auto;
}

.footer {
  height: 10vh;
  min-height: 60px;
  font-size: 18px;
  background-color: #3e3d3d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}